body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
}

nav {
    display: flex;
    align-items: center;
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffa07a;
}

.logo {
    height: 60px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: opacity 0.3s;
}

.dropdown-photo {
    width: 100px;
    height: 60px;
    margin-right: 10px;
}

.places-images {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.marquee2 {
    display: inline-flex;
    animation: marquee 15s linear infinite;
}

.place {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.place img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.place img:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.place p {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.chandigarh {
    padding: 20px;
    text-align: left;
    line-height: 1.6;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 10px;
}

.marquee{
    color: #3b5998;
    font-size: 24px;
    font-weight: bold;
    animation: blinker 1.4s linear infinite;
}
@keyframes blinker {
    90% {
        opacity: 0;
    }
}

.chandigarh p {
    color: #555;
}

.chandigarh-images {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
}

.chd-image {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 3px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
}

.chd-image:hover {
    transform: scale(1.03);
    border-color: #aaa;
}
