body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    display: flex;
    align-items: center;
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffa07a;
}

.logo {
    height: 100px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: opacity 0.3s;
}

.dropdown-photo {
    width: 100px;
    height: 60px;
    margin-right: 10px;
}

.hand {
    padding: 20px;
    text-align: left;
    line-height: 1.6;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
    border-radius: 10px;
}

.hand h2 {
    color: #3b5998;
    text-align: center;
    animation-duration: 3s;
}

@keyframes hand {
    0% {
        transform: translate(150%);
    }

    100% {
        transform: translate(0%);
    }
}

.hand h2:first-child {
    animation-name: hand;
}
.hand-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.hand-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
    animation-duration: 3s;
}

.hand-images img:hover {
    transform: scale(1.05);
}

.hand-info {
    text-align: left;
    color: #333;
    margin-top: 20px;
}

.hand {
    padding: 20px;
    text-align: left;
    line-height: 1.6;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
    border-radius: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #3b5998;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #ffa07a;
}

.map-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 480px) {
    .hand {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .hand h2 {
        font-size: 18px;
    }

    .hand-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .hand-images img {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .hand-info {
        width: 100%;
        margin: 0;
    }

    .hand-info h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .hand-info ul {
        list-style: none;
        padding: 0;
    }

    .hand-info ul li p {
        font-size: 14px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 14px;
        text-align: center;
    }

    .map-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .map-container iframe {
        width: 100%;
        max-width: 350px;
        height: 350px;
    }
}